<nav class="navbar fixed-top navbar-dark navbar-expand-md bg-success text-white">
    <a class="text-white navbar-brand" href="/">
    <i class="fab fa-pagelines"></i> CAKERY
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"  aria-label="toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarcollapse">
       
        <ul class="navbar-nav mr-auto menu">
      </ul>
    </div>
</nav>
<div class="container mt-4">
    <main role="main">
        <div class="row">
            <div class="col">
                <h1>ORDERS</h1>
                <div class="table-responsive-sm"></div>

            </div>
        </div>
    </main>
</div>
